body.active-modal {
  overflow-y: hidden;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-image: url("/Users/aaliyahsymlar/khrys/khrys-hatch/src/assets/images/the-fall-single.jpg");
  /* background-image: url("/Users/aaliyahsymlar/khryshatch/krhys-hatch/src/assets/images/thefall.jpg"); */
  background-size: 800px 800px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
}

.overlay {
  background: rgba(49, 49, 49, 0.3);
}

.modal-content {
  animation-duration: 2s;
  animation-direction: normal;
  animation-name: example;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

.modal-content:hover {
  color: var(--color-blue);
}

@keyframes example {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}
